@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Inter&display=swap');

.App {
  font-family: 'Inter', serif;
  margin: 0;
  padding: 0;
  background-color: #1a1b21;
  color: white;

  min-width: 23rem;
}

.ProfilePhoto > img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: 60rem;
}

.ProfileText > h1 {
  font-size: 2rem;
}
.ProfileText > p {
  line-height: 0px;
}
.ProfileText {
  justify-content: center;
  text-align: center;
}

.Texto-1 {
  font-size: 2rem;
  font-weight: bolder;
}

.Texto-2 {
  color: #f3bf99;
  font-weight: 300;
}
.Texto-3 {
  padding-top: 0.5rem;
  font-size: 0.7rem;
}

.Email,
.LinkedIn {
  background-color: whitesmoke;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #1a1b21;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 40px;
  max-width: 8rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  justify-content: center;
}

.LinkedIn {
  background-color: #5093e2;
  color: white;
  font-weight: 500;
}

.ProfileButtons {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.ProfileButtons > div {
  margin: 0rem 0.5rem;
}

.About,
.Interests {
  font-size: 13px;
}

.TextInterest,
.TextAbout {
  color: #918e9b;
  font-size: 13px;
}
.LinkedInIcon,
.EmailIcon {
  width: 17px;
  height: 17px;
  padding: 0 0.5rem;
}
.EmailIcon {
  width: 20px;
  height: 20px;
}

.Main {
  padding: 2rem 3rem;
}
.Icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  background-color: #161619;
}
.fa-2xl {
  color: #918e9b;
}
